<% provide(:title, 'Admin')%>
<div class="hero-unit">
	<h1>Welcome to my blog!</h1>
	<p>Soon you maybe able to have your own blog here.</p>
	<div>
		<%= link_to "Sign up", signup_path, :class => "btn btn-primary btn-large" %>
	</div>
</div>
